In [4]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [5]:
url = 'https://fbref.com/en/share/O02ao'

In [6]:
tables = pd.read_html(url, header=0, skiprows=1)

In [7]:
df = tables[0]
df.drop(df.iloc[:,16:30],axis=1, inplace=True)
df.drop(['Rk'],axis=1, inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671 entries, 0 to 670
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  671 non-null    object
 1   Nation  671 non-null    object
 2   Pos     671 non-null    object
 3   Squad   671 non-null    object
 4   Age     671 non-null    object
 5   Born    671 non-null    object
 6   MP      671 non-null    object
 7   Starts  671 non-null    object
 8   Min     671 non-null    object
 9   Gls     671 non-null    object
 10  Ast     671 non-null    object
 11  PK      671 non-null    object
 12  PKatt   671 non-null    object
 13  CrdY    671 non-null    object
 14  CrdR    671 non-null    object
dtypes: object(15)
memory usage: 78.8+ KB

In [9]:
# cast columns to numeric data types to perform calculations
# convert column headers to lowercase so queries may be called without quotes
cols = ['Age','Born','MP','Starts','Min','Gls','Ast','PK','PKatt','CrdY','CrdR']
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce', axis=1)
df.columns = df.columns.str.lower()

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671 entries, 0 to 670
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   player  671 non-null    object
 1   nation  671 non-null    object
 2   pos     671 non-null    object
 3   squad   671 non-null    object
 4   age     646 non-null    float64
 5   born    646 non-null    float64
 6   mp      646 non-null    float64
 7   starts  646 non-null    float64
 8   min     646 non-null    float64
 9   gls     646 non-null    float64
 10  ast     646 non-null    float64
 11  pk      646 non-null    float64
 12  pkatt   646 non-null    float64
 13  crdy    646 non-null    float64
 14  crdr    646 non-null    float64
dtypes: float64(11), object(4)
memory usage: 78.8+ KB

In [11]:
df.rename(columns={'pos':'position','squad':'club', 'min':'minutes','gls':'goals','ast':'assists','crdy':'yellow_card','crdr':'red_card'}, inplace=True)
df

,player,nation,position,club,age,born,mp,starts,minutes,goals,assists,pk,pkatt,yellow_card,red_card
0,Brenden Aaronson,us USA,"MF,FW",Philadelphia,18.0,2000.0,28.0,25.0,1706.0,3.0,1.0,0.0,0.0,3.0,0.0
1,Saad Abdul-Salaam,us USA,DF,Seattle,27.0,1991.0,18.0,11.0,1067.0,0.0,0.0,0.0,0.0,2.0,0.0
2,Lalas Abubakar,gh GHA,DF,Colorado,24.0,1994.0,22.0,22.0,1980.0,0.0,0.0,0.0,0.0,7.0,0.0
3,Lalas Abubakar,gh GHA,DF,Columbus,24.0,1994.0,1.0,1.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0
4,David Accam,gh GHA,FW,Philadelphia,28.0,1990.0,8.0,4.0,338.0,4.0,2.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,Adrian Zendejas,mx MEX,GK,Sporting KC,23.0,1995.0,1.0,1.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0
667,Reto Ziegler,ch SUI,DF,FC Dallas,33.0,1986.0,32.0,32.0,2880.0,5.0,0.0,4.0,5.0,6.0,0.0
668,Walker Zimmerman,us USA,DF,Los Angeles FC,25.0,1993.0,25.0,25.0,2165.0,1.0,0.0,0.0,0.0,8.0,1.0
669,Ethan Zubak,us USA,"MF,FW",LA Galaxy,20.0,1998.0,3.0,0.0,43.0,0.0,0.0,0.0,0.0,0.0,0.0
670,Graham Zusi,us USA,DF,Sporting KC,32.0,1986.0,27.0,26.0,2351.0,0.0,1.0,0.0,0.0,5.0,0.0

In [12]:
df['club'].unique()

array(['Philadelphia', 'Seattle', 'Colorado', 'Columbus', 'FC Dallas',
       'Orlando City', 'D.C. United', 'Atlanta', 'Chicago',
       'FC Cincinnati', 'Vancouver', 'San Jose', 'New England',
       'Toronto FC', 'LA Galaxy', 'Minnesota', 'Squad', 'NY Red Bulls',
       'Real Salt Lake', 'Portland', 'Los Angeles FC', 'Montreal',
       'Sporting KC', 'Houston', 'NYCFC'], dtype=object)

In [13]:
# replace all club team names to match other tables for accurate querying

new_df = df.replace({'club': {'Philadelphia': 'Philadelphia Union', 'Seattle': 'Seattle Sounders FC', 'Colorado':'Colorado Rapids', 'Columbus':'Columbus Crew',
       'Orlando City':'Orlando City SC', 'D.C. United':'DC United', 'Atlanta':'Atlanta United', 'Chicago':'Chicago Fire', 'Vancouver':'Vancouver Whitecaps', 
       'San Jose':'San Jose Earthquakes','New England':'New England Revolution', 'Minnesota':'Minnesota United','NY Red Bulls':'New York Red Bulls',
       'Portland':'Portland Timbers', 'Los Angeles FC':'LAFC', 'Montreal':'Montreal Impact','Sporting KC':'Sporting Kansas City', 'Houston':'Houston Dynamo', 'NYCFC':'New York City FC' }})
new_df

,player,nation,position,club,age,born,mp,starts,minutes,goals,assists,pk,pkatt,yellow_card,red_card
0,Brenden Aaronson,us USA,"MF,FW",Philadelphia Union,18.0,2000.0,28.0,25.0,1706.0,3.0,1.0,0.0,0.0,3.0,0.0
1,Saad Abdul-Salaam,us USA,DF,Seattle Sounders FC,27.0,1991.0,18.0,11.0,1067.0,0.0,0.0,0.0,0.0,2.0,0.0
2,Lalas Abubakar,gh GHA,DF,Colorado Rapids,24.0,1994.0,22.0,22.0,1980.0,0.0,0.0,0.0,0.0,7.0,0.0
3,Lalas Abubakar,gh GHA,DF,Columbus Crew,24.0,1994.0,1.0,1.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0
4,David Accam,gh GHA,FW,Philadelphia Union,28.0,1990.0,8.0,4.0,338.0,4.0,2.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,Adrian Zendejas,mx MEX,GK,Sporting Kansas City,23.0,1995.0,1.0,1.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0
667,Reto Ziegler,ch SUI,DF,FC Dallas,33.0,1986.0,32.0,32.0,2880.0,5.0,0.0,4.0,5.0,6.0,0.0
668,Walker Zimmerman,us USA,DF,LAFC,25.0,1993.0,25.0,25.0,2165.0,1.0,0.0,0.0,0.0,8.0,1.0
669,Ethan Zubak,us USA,"MF,FW",LA Galaxy,20.0,1998.0,3.0,0.0,43.0,0.0,0.0,0.0,0.0,0.0,0.0
670,Graham Zusi,us USA,DF,Sporting Kansas City,32.0,1986.0,27.0,26.0,2351.0,0.0,1.0,0.0,0.0,5.0,0.0

In [14]:
new_df['club'].unique()

array(['Philadelphia Union', 'Seattle Sounders FC', 'Colorado Rapids',
       'Columbus Crew', 'FC Dallas', 'Orlando City SC', 'DC United',
       'Atlanta United', 'Chicago Fire', 'FC Cincinnati',
       'Vancouver Whitecaps', 'San Jose Earthquakes',
       'New England Revolution', 'Toronto FC', 'LA Galaxy',
       'Minnesota United', 'Squad', 'New York Red Bulls',
       'Real Salt Lake', 'Portland Timbers', 'LAFC', 'Montreal Impact',
       'Sporting Kansas City', 'Houston Dynamo', 'New York City FC'],
      dtype=object)

In [15]:
team_id = {
    'Atlanta United': 1,'Chicago Fire': 2,'Colorado Rapids': 3,'Columbus Crew': 4,'DC United': 5,'FC Cincinnati': 6,
    'FC Dallas': 7,'Houston Dynamo': 8,'LA Galaxy': 9,'LAFC': 10,'Minnesota United': 11,'Montreal Impact': 12,
    'New England Revolution': 13,'New York City FC': 14,'New York Red Bulls': 15,'Orlando City SC': 16,'Philadelphia Union': 17,'Portland Timbers': 18,
    'Real Salt Lake': 19,'San Jose Earthquakes': 20,'Seattle Sounders FC': 21,'Sporting Kansas City': 22,'Toronto FC': 23,'Vancouver Whitecaps': 24, 'Squad':25}

new_df['club_id'] = new_df['club'].map(team_id)
new_df

,player,nation,position,club,age,born,mp,starts,minutes,goals,assists,pk,pkatt,yellow_card,red_card,club_id
0,Brenden Aaronson,us USA,"MF,FW",Philadelphia Union,18.0,2000.0,28.0,25.0,1706.0,3.0,1.0,0.0,0.0,3.0,0.0,17
1,Saad Abdul-Salaam,us USA,DF,Seattle Sounders FC,27.0,1991.0,18.0,11.0,1067.0,0.0,0.0,0.0,0.0,2.0,0.0,21
2,Lalas Abubakar,gh GHA,DF,Colorado Rapids,24.0,1994.0,22.0,22.0,1980.0,0.0,0.0,0.0,0.0,7.0,0.0,3
3,Lalas Abubakar,gh GHA,DF,Columbus Crew,24.0,1994.0,1.0,1.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,4
4,David Accam,gh GHA,FW,Philadelphia Union,28.0,1990.0,8.0,4.0,338.0,4.0,2.0,0.0,0.0,0.0,0.0,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,Adrian Zendejas,mx MEX,GK,Sporting Kansas City,23.0,1995.0,1.0,1.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,22
667,Reto Ziegler,ch SUI,DF,FC Dallas,33.0,1986.0,32.0,32.0,2880.0,5.0,0.0,4.0,5.0,6.0,0.0,7
668,Walker Zimmerman,us USA,DF,LAFC,25.0,1993.0,25.0,25.0,2165.0,1.0,0.0,0.0,0.0,8.0,1.0,10
669,Ethan Zubak,us USA,"MF,FW",LA Galaxy,20.0,1998.0,3.0,0.0,43.0,0.0,0.0,0.0,0.0,0.0,0.0,9
670,Graham Zusi,us USA,DF,Sporting Kansas City,32.0,1986.0,27.0,26.0,2351.0,0.0,1.0,0.0,0.0,5.0,0.0,22

In [16]:
# new_df=new_df[['club_id','player', 'nation', 'position', 'club', 'age', 'born', 'mp', 'starts',
#        'minutes', 'goals', 'assists', 'pk', 'pkatt', 'yellow_card', 'red_card']]

outliers = new_df.loc[(new_df["player"] == "Player")].index
new_df.drop(outliers, inplace=True)
second_df = new_df
second_df
# player_df = new_df
# nulls = new_df[new_df.isnull().any(axis=1)]
# nulls

,player,nation,position,club,age,born,mp,starts,minutes,goals,assists,pk,pkatt,yellow_card,red_card,club_id
0,Brenden Aaronson,us USA,"MF,FW",Philadelphia Union,18.0,2000.0,28.0,25.0,1706.0,3.0,1.0,0.0,0.0,3.0,0.0,17
1,Saad Abdul-Salaam,us USA,DF,Seattle Sounders FC,27.0,1991.0,18.0,11.0,1067.0,0.0,0.0,0.0,0.0,2.0,0.0,21
2,Lalas Abubakar,gh GHA,DF,Colorado Rapids,24.0,1994.0,22.0,22.0,1980.0,0.0,0.0,0.0,0.0,7.0,0.0,3
3,Lalas Abubakar,gh GHA,DF,Columbus Crew,24.0,1994.0,1.0,1.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,4
4,David Accam,gh GHA,FW,Philadelphia Union,28.0,1990.0,8.0,4.0,338.0,4.0,2.0,0.0,0.0,0.0,0.0,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,Adrian Zendejas,mx MEX,GK,Sporting Kansas City,23.0,1995.0,1.0,1.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,22
667,Reto Ziegler,ch SUI,DF,FC Dallas,33.0,1986.0,32.0,32.0,2880.0,5.0,0.0,4.0,5.0,6.0,0.0,7
668,Walker Zimmerman,us USA,DF,LAFC,25.0,1993.0,25.0,25.0,2165.0,1.0,0.0,0.0,0.0,8.0,1.0,10
669,Ethan Zubak,us USA,"MF,FW",LA Galaxy,20.0,1998.0,3.0,0.0,43.0,0.0,0.0,0.0,0.0,0.0,0.0,9
670,Graham Zusi,us USA,DF,Sporting Kansas City,32.0,1986.0,27.0,26.0,2351.0,0.0,1.0,0.0,0.0,5.0,0.0,22

In [17]:
second_df[["first","last"]] = second_df.loc[:,"player"].str.split(" ", n = 1, expand = True)
second_df

,player,nation,position,club,age,born,mp,starts,minutes,goals,assists,pk,pkatt,yellow_card,red_card,club_id,first,last
0,Brenden Aaronson,us USA,"MF,FW",Philadelphia Union,18.0,2000.0,28.0,25.0,1706.0,3.0,1.0,0.0,0.0,3.0,0.0,17,Brenden,Aaronson
1,Saad Abdul-Salaam,us USA,DF,Seattle Sounders FC,27.0,1991.0,18.0,11.0,1067.0,0.0,0.0,0.0,0.0,2.0,0.0,21,Saad,Abdul-Salaam
2,Lalas Abubakar,gh GHA,DF,Colorado Rapids,24.0,1994.0,22.0,22.0,1980.0,0.0,0.0,0.0,0.0,7.0,0.0,3,Lalas,Abubakar
3,Lalas Abubakar,gh GHA,DF,Columbus Crew,24.0,1994.0,1.0,1.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,4,Lalas,Abubakar
4,David Accam,gh GHA,FW,Philadelphia Union,28.0,1990.0,8.0,4.0,338.0,4.0,2.0,0.0,0.0,0.0,0.0,17,David,Accam
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,Adrian Zendejas,mx MEX,GK,Sporting Kansas City,23.0,1995.0,1.0,1.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,22,Adrian,Zendejas
667,Reto Ziegler,ch SUI,DF,FC Dallas,33.0,1986.0,32.0,32.0,2880.0,5.0,0.0,4.0,5.0,6.0,0.0,7,Reto,Ziegler
668,Walker Zimmerman,us USA,DF,LAFC,25.0,1993.0,25.0,25.0,2165.0,1.0,0.0,0.0,0.0,8.0,1.0,10,Walker,Zimmerman
669,Ethan Zubak,us USA,"MF,FW",LA Galaxy,20.0,1998.0,3.0,0.0,43.0,0.0,0.0,0.0,0.0,0.0,0.0,9,Ethan,Zubak
670,Graham Zusi,us USA,DF,Sporting Kansas City,32.0,1986.0,27.0,26.0,2351.0,0.0,1.0,0.0,0.0,5.0,0.0,22,Graham,Zusi

In [18]:
second_df = second_df[['player','club_id','first','last','nation', 'position', 'club', 'age', 'born', 'mp', 'starts','minutes', 'goals', 'assists', 'pk', 'pkatt', 'yellow_card', 'red_card']]
second_df

,player,club_id,first,last,nation,position,club,age,born,mp,starts,minutes,goals,assists,pk,pkatt,yellow_card,red_card
0,Brenden Aaronson,17,Brenden,Aaronson,us USA,"MF,FW",Philadelphia Union,18.0,2000.0,28.0,25.0,1706.0,3.0,1.0,0.0,0.0,3.0,0.0
1,Saad Abdul-Salaam,21,Saad,Abdul-Salaam,us USA,DF,Seattle Sounders FC,27.0,1991.0,18.0,11.0,1067.0,0.0,0.0,0.0,0.0,2.0,0.0
2,Lalas Abubakar,3,Lalas,Abubakar,gh GHA,DF,Colorado Rapids,24.0,1994.0,22.0,22.0,1980.0,0.0,0.0,0.0,0.0,7.0,0.0
3,Lalas Abubakar,4,Lalas,Abubakar,gh GHA,DF,Columbus Crew,24.0,1994.0,1.0,1.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0
4,David Accam,17,David,Accam,gh GHA,FW,Philadelphia Union,28.0,1990.0,8.0,4.0,338.0,4.0,2.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,Adrian Zendejas,22,Adrian,Zendejas,mx MEX,GK,Sporting Kansas City,23.0,1995.0,1.0,1.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0
667,Reto Ziegler,7,Reto,Ziegler,ch SUI,DF,FC Dallas,33.0,1986.0,32.0,32.0,2880.0,5.0,0.0,4.0,5.0,6.0,0.0
668,Walker Zimmerman,10,Walker,Zimmerman,us USA,DF,LAFC,25.0,1993.0,25.0,25.0,2165.0,1.0,0.0,0.0,0.0,8.0,1.0
669,Ethan Zubak,9,Ethan,Zubak,us USA,"MF,FW",LA Galaxy,20.0,1998.0,3.0,0.0,43.0,0.0,0.0,0.0,0.0,0.0,0.0
670,Graham Zusi,22,Graham,Zusi,us USA,DF,Sporting Kansas City,32.0,1986.0,27.0,26.0,2351.0,0.0,1.0,0.0,0.0,5.0,0.0

In [19]:
second_df.drop(columns =["player"], inplace = True)
second_df

# third_df[['first','last','club_id','nation', 'position', 'club', 'age', 'born', 'mp', 'starts',
#        'minutes', 'goals', 'assists', 'pk', 'pkatt', 'yellow_card', 'red_card']]
# third_df

C:\Users\a_mcr\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,club_id,first,last,nation,position,club,age,born,mp,starts,minutes,goals,assists,pk,pkatt,yellow_card,red_card
0,17,Brenden,Aaronson,us USA,"MF,FW",Philadelphia Union,18.0,2000.0,28.0,25.0,1706.0,3.0,1.0,0.0,0.0,3.0,0.0
1,21,Saad,Abdul-Salaam,us USA,DF,Seattle Sounders FC,27.0,1991.0,18.0,11.0,1067.0,0.0,0.0,0.0,0.0,2.0,0.0
2,3,Lalas,Abubakar,gh GHA,DF,Colorado Rapids,24.0,1994.0,22.0,22.0,1980.0,0.0,0.0,0.0,0.0,7.0,0.0
3,4,Lalas,Abubakar,gh GHA,DF,Columbus Crew,24.0,1994.0,1.0,1.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0
4,17,David,Accam,gh GHA,FW,Philadelphia Union,28.0,1990.0,8.0,4.0,338.0,4.0,2.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,22,Adrian,Zendejas,mx MEX,GK,Sporting Kansas City,23.0,1995.0,1.0,1.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0
667,7,Reto,Ziegler,ch SUI,DF,FC Dallas,33.0,1986.0,32.0,32.0,2880.0,5.0,0.0,4.0,5.0,6.0,0.0
668,10,Walker,Zimmerman,us USA,DF,LAFC,25.0,1993.0,25.0,25.0,2165.0,1.0,0.0,0.0,0.0,8.0,1.0
669,9,Ethan,Zubak,us USA,"MF,FW",LA Galaxy,20.0,1998.0,3.0,0.0,43.0,0.0,0.0,0.0,0.0,0.0,0.0
670,22,Graham,Zusi,us USA,DF,Sporting Kansas City,32.0,1986.0,27.0,26.0,2351.0,0.0,1.0,0.0,0.0,5.0,0.0

In [20]:
# Import SQL Alchemy
import sqlalchemy
from sqlalchemy import create_engine, inspect, func
# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
# from sqlalchemy.ext.automap import automap_base
Base = declarative_base()
# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [21]:
class Players(Base):
    __tablename__ = 'stats'
    id = Column(Integer, primary_key=True, index=True)
    club_id = Column(Float)
    first = Column(String(30))
    last = Column(String(30))
    nation = Column(String(30))
    position = Column(String(30))
    club = Column(String(30))
    age = Column(Float)
    born = Column(Float)
    mp = Column(Float)
    starts = Column(Float)
    minutes = Column(Float)
    goals = Column(Float)
    assists = Column(Float)
    pk = Column(Float)
    pkatt = Column(Float)
    yellow_card = Column(Float)
    red_card = Column(Float)

In [22]:
# Create Database Connection
# ----------------------------------
# Establish Connection
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/mls_db')
conn = engine.connect()

In [24]:
# Create the team names table within the database
Base.metadata.create_all(conn)

In [23]:
# clear out the db
Base.metadata.drop_all(engine)

In [25]:
# Create a Session Object to Connect to DB
# ----------------------------------
# Session is a temporary binding to our DB
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [28]:
for player in second_df.iterrows(): 
#     print(player[1][0], player[1][1],player[1][2],player[1][3],player[1][4],player[1][5],player[1][6],player[1][7],player[1][8],player[1][9],player[1][10],player[1][11],player[1][12],player[1][13],player[1][14], player[1][15],
#     player[1][16],player[1][17])
    data = Players(club_id=player[1][0],first=player[1][1],last=player[1][2],nation=player[1][3],position=player[1][4],club=player[1][5],age=player[1][6],born=player[1][7],mp=player[1][8],starts=player[1][9],
    minutes=player[1][10],goals=player[1][11],assists=player[1][12],pk=player[1][13],pkatt=player[1][14],yellow_card=player[1][15],red_card=player[1][16])
    session.add(data)
    session.commit()