In [9]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import numpy as np

In [12]:
# database_path = 'postgresql://postgres:postgres@localhost/Employees'
# engine = create_engine("sqlite:///{database_path}")
# conn = engine.connect()

engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/mls_db')
connection = engine.connect()

In [17]:
highest_player_salary = pd.read_sql('SELECT * FROM sorted_highest_paid_player_by_club', connection)
highest_player_salary

,club_id,club,first,last,guaranteed_compensation
0,9.0,LA Galaxy,Zlatan,Ibrahimovic,7200000.00
1,23.0,Toronto FC,Michael,Bradley,6500000.00
2,10.0,LAFC,Carlos,Vela,6300000.00
3,2.0,Chicago Fire,Bastian,Schweinsteiger,5600000.04
4,12.0,Montreal Impact,Ignacio,Piatti,4443333.37
5,5.0,DC United,Wayne,Rooney,3507500.04
6,1.0,Atlanta United,Josef,Martinez,3058333.33
7,18.0,Portland Timbers,Sebastian,Blanco,2853341.33
8,21.0,Seattle Sounders FC,Nicolas,Lodeiro,2502500.04
9,16.0,Orlando City SC,NaN,Nani,2486249.70
10,3.0,Colorado Rapids,Tim,Howard,2475000.04
11,13.0,New England Revolution,Carles,Gil,2337500.00
12,17.0,Philadelphia Union,Marco,Fabian,2274087.24
13,19.0,Real Salt Lake,Albert,Rusnak,2001666.67
14,9.0,LA Galaxy,Jonathan,dos Santos,2000000.04
15,14.0,New York City FC,Maxi,Moralez,2000000.04
16,6.0,FC Cincinnati,Fanendo,Adi,1965008.00
17,11.0,Minnesota United,Darwin,Quintero,1750000.08
18,22.0,Sporting Kansas City,Felipe,Gutierrez,1649999.96
19,20.0,San Jose Earthquakes,"Valeri ""Vako""",Qazaishvili,1604042.36
20,4.0,Columbus Crew,Gyasi,Zardes,1471666.64
21,15.0,New York Red Bulls,Bradley,Wright-Phillips,1380000.00
22,24.0,Vancouver Whitecaps,Ali,Adnan,1277499.90
23,8.0,Houston Dynamo,Mauro,Manotas,1245049.96
24,7.0,FC Dallas,Reto,Ziegler,870000.08

In [18]:
percent_wins = pd.read_sql('SELECT * FROM percent_wins', connection)
percent_wins

    id                    Club  % Wins
0   10                    LAFC   0.712
1    1          Atlanta United   0.563
2   14        New York City FC   0.621
3   19          Real Salt Lake   0.508
4   17      Philadelphia Union   0.525
5   21     Seattle Sounders FC   0.533
6    9               LA Galaxy   0.492
7   11        Minnesota United   0.500
8   18        Portland Timbers   0.459
9   15      New York Red Bulls   0.452
10  23              Toronto FC   0.456
11   5               DC United   0.456
12   7               FC Dallas   0.441
13  20    San Jose Earthquakes   0.413
14   8          Houston Dynamo   0.375
15  12         Montreal Impact   0.381
16   3         Colorado Rapids   0.387
17  13  New England Revolution   0.393
18  22    Sporting Kansas City   0.333
19   4           Columbus Crew   0.333
20   2            Chicago Fire   0.357
21  16         Orlando City SC   0.310
22  24     Vancouver Whitecaps   0.276
23   6           FC Cincinnati   0.194

In [27]:
goals = pd.read_sql('SELECT * FROM player_goals', connection)
goals

# goal_stats = pd.read_sql('SELECT * FROM stats', connection)
# goal_stats

     club_id                    club   first         last  Total Goals
0       10.0                    LAFC  Carlos         Vela         34.0
1        9.0               LA Galaxy  Zlatan  Ibrahimović         30.0
2        1.0          Atlanta United   Josef     Martínez         27.0
3       10.0                    LAFC   Diego        Rossi         16.0
4       14.0        New York City FC   Héber         None         15.0
..       ...                     ...     ...          ...          ...
641     18.0        Portland Timbers   Zarek     Valentin          0.0
642      8.0          Houston Dynamo   Aljaž       Struna          0.0
643      3.0         Colorado Rapids    Axel      Sjöberg          0.0
644     13.0  New England Revolution   Tajon     Buchanan          0.0
645     17.0      Philadelphia Union  Carlos      Coronel          0.0

[646 rows x 5 columns]

In [21]:
team_payroll = pd.read_sql('SELECT * FROM team_payroll', connection)
team_payroll

    club_id                    club  Roster Payroll
0      23.0              Toronto FC     24267066.18
1       9.0               LA Galaxy     19636979.69
2       2.0            Chicago Fire     17114980.99
3      10.0                    LAFC     13769951.28
4      21.0     Seattle Sounders FC     13678414.29
5      12.0         Montreal Impact     13152273.71
6       1.0          Atlanta United     12957118.93
7      16.0         Orlando City SC     12573226.29
8      18.0        Portland Timbers     12553916.46
9      22.0    Sporting Kansas City     12070675.60
10     19.0          Real Salt Lake     11117788.60
11     11.0        Minnesota United     10632485.61
12     20.0    San Jose Earthquakes     10619980.43
13      4.0           Columbus Crew     10614613.28
14     13.0  New England Revolution     10608217.28
15     14.0        New York City FC     10415586.82
16      5.0               DC United     10195277.26
17     17.0      Philadelphia Union      9854738.30
18      6.0           FC Cincinnati      9564914.01
19      7.0               FC Dallas      8807319.09
20      8.0          Houston Dynamo      8744849.28
21     15.0      New York Red Bulls      8668933.79
22      3.0         Colorado Rapids      8599994.41
23     24.0     Vancouver Whitecaps      8152129.65

In [22]:
salaries = pd.read_sql('SELECT * FROM salaries', connection)
salaries

,id,club_id,first,last,club,position,base_salary,guaranteed_compensation
0,1,17.0,Brenden,Aaronson,Philadelphia Union,M-F,70000.08,98309.48
1,2,21.0,Saad,Abdul-Salaam,Seattle Sounders FC,D,70250.04,70250.04
2,3,3.0,Lalas,Abubakar,Colorado Rapids,D,135000.00,144937.50
3,4,4.0,David,Accam,Columbus Crew,M-F,1010004.00,1137920.00
4,5,3.0,Kellyn,Acosta,Colorado Rapids,D-M,549999.96,664999.96
...,...,...,...,...,...,...,...,...
697,699,10.0,Walker,Zimmerman,LAFC,D,600000.00,600000.00
698,700,7.0,Kyle,Zobeck,FC Dallas,GK,70875.00,70875.00
699,701,9.0,Ethan,Zubak,LA Galaxy,F,75000.00,78125.00
700,702,22.0,Graham,Zusi,Sporting Kansas City,D-M,625000.08,688333.41
701,703,9.0,Jonathan,dos Santos,LA Galaxy,M,2000000.04,2000000.04

In [68]:
salary_goal = pd.concat([salaries, goals ], axis=1, join='inner')
salary_goal
millionaires =  salary_goal.loc[(salary_goal['Total Goals'] >= 1)&(salary_goal['guaranteed_compensation'] >= 1000000)]
millionaires
# millionaires.groupby('club').agg({'guaranteed_compensation':sum})

,id,club_id,first,last,club,position,base_salary,guaranteed_compensation,club_id,club,first,last,Total Goals
3,4,4.0,David,Accam,Columbus Crew,M-F,1010004.00,1137920.00,10.0,LAFC,Diego,Rossi,16.0
9,10,6.0,Fanendo,Adi,FC Cincinnati,F,1360008.00,1965008.00,8.0,Houston Dynamo,Mauro,Manotas,13.0
10,11,24.0,Ali,Adnan,Vancouver Whitecaps,D,1200000.00,1277499.90,2.0,Chicago Fire,C.J.,Sapong,13.0
19,20,9.0,Romain,Alessandrini,LA Galaxy,M-F,1610004.00,1940004.00,21.0,Seattle Sounders FC,Raúl,Ruidíaz,11.0
24,25,23.0,Jozy,Altidore,Toronto FC,F,4891250.04,6332250.04,5.0,DC United,Wayne,Rooney,11.0
60,61,1.0,Ezequiel,Barco,Atlanta United,M-F,1425000.00,1425000.00,20.0,San Jose Earthquakes,Magnus,Eriksson,6.0
71,72,17.0,Alejandro,Bedoya,Philadelphia Union,M,1200000.00,1266250.00,6.0,FC Cincinnati,Emmanuel,Ledesma,6.0
88,89,18.0,Sebastian,Blanco,Portland Timbers,M-F,2740008.00,2853341.33,12.0,Montreal Impact,Lassi,Lappalainen,5.0
96,97,13.0,Gustavo,Bou,New England Revolution,F,2100000.00,2100000.00,24.0,Vancouver Whitecaps,Doneil,Henry,4.0
98,99,23.0,Michael,Bradley,Toronto FC,M,6000000.00,6500000.00,1.0,Atlanta United,Justin,Meram,4.0
189,191,16.0,Dom,Dwyer,Orlando City SC,F,1320000.00,1503333.33,15.0,New York Red Bulls,Omir,Fernandez,2.0
204,206,17.0,Marco,Fabian,Philadelphia Union,M-F,2000727.24,2274087.24,24.0,Vancouver Whitecaps,Felipe,None,1.0
214,216,18.0,Brian,Fernandez,Portland Timbers,M-F,1200000.00,1275800.00,6.0,FC Cincinnati,Leonardo,Bertone,1.0
224,226,22.0,Andreu,Fontas,Sporting Kansas City,D,1050000.00,1050000.00,23.0,Toronto FC,Omar,Gonzalez,1.0
235,237,2.0,Nicolas,Gaitan,Chicago Fire,M-F,1400004.00,2197504.00,1.0,Atlanta United,Leandro,González Pirez,1.0
243,245,13.0,Carles,Gil,New England Revolution,M-F,2100000.00,2337500.00,19.0,Real Salt Lake,Nedum,Onuoha,1.0
249,251,23.0,Omar,Gonzalez,Toronto FC,D,918000.00,1193935.50,15.0,New York Red Bulls,Michael,Amir Murillo,1.0
257,259,22.0,Felipe,Gutierrez,Sporting Kansas City,M,1599999.96,1649999.96,3.0,Colorado Rapids,Keegan,Rosenberry,1.0
283,285,4.0,Federico,Higuain,Columbus Crew,M-F,1100000.04,1100000.04,6.0,FC Cincinnati,Mathieu,Deplagne,1.0
290,292,3.0,Tim,Howard,Colorado Rapids,GK,2000000.04,2475000.04,22.0,Sporting Kansas City,Graham,Smith,1.0
298,300,9.0,Zlatan,Ibrahimovic,LA Galaxy,F,7200000.00,7200000.00,24.0,Vancouver Whitecaps,Ali,Adnan Kadhim,1.0

In [51]:
millionaires['position'].value_counts()

D      94
M-F    77
M      63
F      45
GK     31
D-M    27
Name: position, dtype: int64